<div class="container mt-3">
    <div class="row g-2 align-items-stretch">

        <div class="col-md-6 d-flex">
            <div class="border p-3 shadow-sm w-100">
                <h6>List years with multiple winners</h6>
                <table class="table table-bordered table-sm mt-2">
                    <thead>
                        <tr class=" table-light">
                            <th class="fw-normal">Year</th>
                            <th class="fw-normal">Win Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movie of movies">
                            <td>{{ movie.year }}</td>
                            <td>{{ movie.winnerCount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 d-flex">
            <div class="border p-3 w-100 shadow-sm">
                <h6>Top 3 studios with winners</h6>
                <table class="table table-bordered table-sm mt-2">
                    <thead>
                        <tr class=" table-light">
                            <th class="fw-normal">Name</th>
                            <th class="fw-normal">Win Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let studio of studios">
                            <td>{{ studio.name }}</td>
                            <td>{{ studio.winCount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 d-flex mt-2">
            <div class="border p-3 w-100 shadow-sm">
                <h6>Producers with longest and shortest interval between wins</h6>

                <!-- Maximum -->
                <div class="mt-3">
                    <h6>Maximum</h6>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="table-light">
                                <th class="fw-normal">Producer</th>
                                <th class="fw-normal">Interval</th>
                                <th class="fw-normal">Previous Year</th>
                                <th class="fw-normal">Following Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producer of producerIntervalsMax">
                                <td>{{ producer.producer }}</td>
                                <td>{{ producer.interval }}</td>
                                <td>{{ producer.previousWin }}</td>
                                <td>{{ producer.followingWin }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Minimum -->
                <div class="mt-3">
                    <h6>Minimum</h6>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="table-light">
                                <th class="fw-normal">Producer</th>
                                <th class="fw-normal">Interval</th>
                                <th class="fw-normal">Previous Year</th>
                                <th class="fw-normal">Following Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producer of producerIntervalsMin">
                                <td>{{ producer.producer }}</td>
                                <td>{{ producer.interval }}</td>
                                <td>{{ producer.previousWin }}</td>
                                <td>{{ producer.followingWin }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex mt-2">
            <div class="border p-3 w-100 shadow-sm">
                <h6>List movie winners by year</h6>
                <div class="input-group input-group-sm mb-3 mt-2">
                    <input type="number" class="form-control" [(ngModel)]="searchYear" placeholder="Search by year" />
                    <button class="btn btn-primary" [disabled]="!searchYear"
                        (click)="loadStudioWinnersByYear(searchYear!)">
                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                    </button>
                </div>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr class=" table-light">
                            <th class="fw-normal">Id</th>
                            <th class="fw-normal">Year</th>
                            <th class="fw-normal">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let studio of studiosByYear">
                            <td>{{ studio.id }}</td>
                            <td>{{ studio.year }}</td>
                            <td>{{ studio.title }}</td>
                    </tbody>
                    <ng-template #noMovies>
                        <p>No movies found</p>
                    </ng-template>
                </table>
            </div>
        </div>
    </div>
</div>